@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Big+Shoulders:opsz,wght@10..72,100..900&family=DM+Serif+Display:ital@0;1&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nabla&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100..900;1,100..900&family=Russo+One&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ultra&display=swap');

* {
margin: 0;
box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(236, 242, 255, 1);
  min-height: 100vh;
    font-family: "Hanken Grotesk", sans-serif;

}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.main_box {
  max-width: 736px;
  width: 100%;
  height: 512px;
  background-color: white;
  border-radius: 32px;
  display: flex;
  gap: 35px;
}

.blue_box {
  max-width: 368px;
  width: 100%;
  height: 512px;
  background: linear-gradient(#7755ff, #6943ff, #2f2ce9);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  padding-left: 60px;
  padding-right: 60px;
}

.your_result {
  color: #cac9ff;
  font-size: 24px;
  font-weight: 700px;
  gap: 2px;
}
.oval {
  background: linear-gradient(#4d21c9, #2521c900);
  width: 200px;
  height: 200px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.oval_h1 {
  font-size: 72px;
  color: White;
  font-weight: 800;
}

.oval_p {
  font-size: 18px;
  color: #cac9ff;
  font-weight: 700;
  opacity: 0.51;
}

.text_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 260px;
  width: 100%;
  height: 134px;
  gap: 15px;
}

.text_h1 {
  font-size: 32px;
  font-weight: 700;
  color: white;
}



.text_p {
  font-weight: 500;
  font-size: 18px;
  color: #cac9ff;
  text-align: center;
}

.second_heading {
  font-size: 24px;
  font-weight: 700;
  color: #303b59;
  margin-right: 189px;
}

.white_box {
  max-width: 350px;
  width: 100%;
  height: 512px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  background-color: white;
  padding-left: 50px;
  padding-right: 10px;
  gap: 30px;
  border-radius: 32px;
}

.results {
  max-width: 288px;
  width: 100%;
  height: 272px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 9px;
  padding-right: 30px;
}

.reaction {
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #fdeded;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.React_text {
  color: #ff5555;
  font-weight: 500;
  font-size: 18px;
}

.score {
  font-size: 18px;
  font-weight: 700;
  color: #303b59;
}

.outof {
  font-size: 18px;
  font-weight: 700;
  color: #303b59;
  opacity: 0.5;
}

.flex {
  display: flex;
  gap: 8px;
  margin-right: 20px;
}

.memory_div {
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #fff8eb;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.memory_div:hover {
  cursor: pointer;
  opacity: 0.7;
}

.reaction:hover {
  cursor: pointer;
  opacity: 0.7;
}
.verbal_div:hover {
  cursor: pointer;
  opacity: 0.7;
}
.visual_div:hover {
  cursor: pointer;
  opacity: 0.7;
}
.memory {
  color: #ffb21e;
  font-weight: 500;
  font-size: 18px;
}

.verbal_div {
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #ebf9f3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.verbal_text {
  color: #00bb8f;
  font-size: 18px;
  font-weight: 500;
}

.visual_div {
  max-width: 288px;
  width: 100%;
  height: 56px;
  border-radius: 12px;
  background-color: #f3f3fd;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.visual_text {
  color: #1125d6;
  font-size: 18px;
  font-weight: 500;
}

.btn {
  width: 250px;
  height: 56px;
  background-color: #303b59;
  border-radius: 128px;
  color: white;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-right: 20px;
}

.btn:hover {
  background: linear-gradient(#7755ff, #6943ff, #2f2ce9);
  cursor: pointer;
}


a {
  text-decoration: none;
}

@media (max-width: 760px) {
  body{
    overflow-x: hidden;
  }
  .main {
    flex-direction: column;
    max-width: 760px;
    width: 100%;
  
  }

  .blue_box {
    max-width: 760%;
    width: 100%;
    border-radius: 0px;
  }
  .white_box {
    max-width: 760px;
    width: 100%;
    border-radius: 0px;
  }
}